@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

/*##RESET*/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    height: auto;
}

button,
input,
textarea {
    border: 0;
    outline: none;
}

button:focus,
input:focus,
textarea:focus {
    border: 0;
    outline: none;
}

/*##VARIAVEIS*/
:root {
    --red-color: #EC111A;
    --white-color: #F9F9F9;
    --dark-color: #1D1D1D;

}


/* ##GERAL */
nav {
    display: flex;
    background-color: rgb(29, 29, 29, 0.5);
}

.iuri-icon {
    position: absolute;
    left: 25px;
    top: 25px;
    cursor: pointer;
    z-index: 3;
}

/* ##BODY */
body {
    font-family: 'Sora', sans-serif;
    height: 100vh;
    background-image: url('../assets/img/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    overflow: hidden;
}

body::before {
    content: '';
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(90deg, rgb(11, 12, 16, 0.6), rgb(11, 12, 16, 0.4), rgb(11, 12, 16, 0.6));
    position: absolute;
    z-index: -1;
}

/* ##HEADER */
header {
    margin-left: 100px;
}

header nav {
    height: 100px;
    max-height: 100px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

header nav ul {
    display: flex;
    gap: 20px;

}

header nav ul li a {
    color: #fff;
    font-size: 1.1rem;

}

header img {
    cursor: pointer;
}

.logo-marvel {
    width: 70px;


}

.logo-spider {
    width: 30px;

}

/* ##ASIDE */
aside nav {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100px;
    max-width: 100px;
    padding-top: 180px;
    padding-bottom: 70px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 100px;

}

.social-icons img {
    width: 30px;
    cursor: pointer;

}

.search img {
    width: 30px;

}


/* ##MAIN */
main {
    position: absolute;
    max-width: 500px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 150px;

}

main img.logo-name {
    max-width: 100%;

}

.btn {
    color: var(--white-color);
    padding: 20px 40px;
    background-color: var(--dark-color);
    border: 1px solid var(--red-color);
    max-width: 300px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 15px;
    margin: 40px auto;
    cursor: pointer;
    position: relative;
}



.btn span {
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 500;

}

@media(max-width:580px) {
    body {
        background-size: contain 100%;
        background-position-x: 70%;
    }

    div.btn {

        width: 250px;
    }

    div.btn span {
        font-size: 0.8rem;

    }

    main {
        padding-left: 50px;
    }

    header nav {

        padding: 0px 15px;
    }
}

@media(max-width:420px) {
    div.btn {

        width: 200px;
    }

    aside nav {
        width: 70px;
    }

    header {
        margin-left: 70px;
    }

    header>* {
        padding: 0px 15px;
    }

    .iuri-icon {
        top: 2px;
        left: 2px;
        width: 20px;
    }

    header {
        height: 150px;
        max-height: 150px;

    }

    header nav {
        flex-wrap: wrap;
        height: 150px;
        max-height: 150px;
        padding: 0px 15px;
    }


}